avalon_framework
colorama
patool
pillow
pyqt5
python-magic-bin; platform_system == "Windows"
python-magic; platform_system != "Windows"
pyyaml
requests
tqdm
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability